.Header {
    background-color: aqua;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    padding: 0.5em 1em;

    &:hover {
        color: red;
    }
}

.active-link {
    color: white;
    background-color: black;
}